.grid {
   border: 1px solid;
   display: flex;
   flex-wrap: wrap;
   height: 480px;
   width: 560px;
   margin: auto;
}

h3 {
   text-align: center;
}

.grid div {
   width: 80px;
   height: 80px;
}

.player-one {
   background-color: red;
   border-radius: 50%;   
}

.player-two {
   background-color: blue;
   border-radius: 50%;
}


